---
University Paris 1 Panthéon-Sorbonne

Introduction to Machine Learning

Dr. Nourhène BEN RABAH

---


<h1 style="color: blue;"> Lab 1. Data Exploration with Pandas  </h1>


#### Here is the documentation for the [`DataFrame`](https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.html) data structure in Pandas.


#### You must send the completed notebook to Nourhene.Ben-Rabah@univ-paris1.fr. Please include LastName_FirstName_Lab1_IKSEM in your subject line.

---

<h2 style="color: blue;"> Part 1: Reading, Quick Exploration, and Selection</h2>

#### Step 0. Import the Pandas library

In [1]:
from pandas import *


#### Step 1. Import the dataset

You will start by importing the file *fromage.csv*. To do this, use the [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) function.

In [3]:
datas = read_csv("C:/Users/marius.pingaud/OneDrive - BERGER-LEVRAULT/Bureau/Sorbonne/M2/ML/machine_learning_tryout/Lab1/Datasets/cheese.csv")

#### Step 2. View the first and last rows

In [4]:
print(datas)

   cheese;calories;sodium;calcium;lipides;retinol;folates;proteines;cholesterol;magnesium
0   CarredelEst;314;353.5;72.6;26.3;51.6;30.3;21;7...
1      Babybel;314;238;209.8;25.1;63.7;6.4;22.6;70;27
2    Beaufort;401;112;259.4;33.3;54.9;1.2;26.6;120;41
3        Bleu;342;336;211.1;28.9;37.1;27.5;20.2;90;27
4    Camembert;264;314;215.9;19.5;103;36.4;23.4;60;20
5           Cantal;367;256;264;28.8;48.8;5.7;23;90;30
6    Chabichou;344;192;87.2;27.9;90.1;36.3;19.5;80;36
7   Chaource;292;276;132.9;25.4;116.4;32.5;17.8;70;25
8       Cheddar;406;172;182.3;32.5;76.4;4.9;26;110;28
9        Comte;399;92;220.5;32.4;55.9;1.3;29.2;120;51
10  Coulomniers;308;222;79.2;25.6;63.6;21.1;20.5;8...
11        Edam;327;148;272.2;24.7;65.7;5.5;24.7;80;44
12    Emmental;378;60;308.2;29.4;56.3;2.4;29.4;110;45
13  Fr.chevrepatemolle;206;160;72.8;18.5;150.5;31;...
14  Fr.fondu.45;292;390;168.5;24.0;77.4;5.5;16.8;7...
15     Fr.frais20nat.;80;41;146.3;3.5;50;20;8.3;10;11
16   Fr.frais40nat.;115;25;94.8;7.8;64.3;22.6;7;30;10
17   Maroilles;338;311;236.7;29.1;46.7;3.6;20.4;90;40
18       Morbier;347;285;219;29.5;57.6;5.8;23.6;80;30
19      Parmesan;381;240;334.6;27.5;90;5.2;35.7;80;46
20  Petitsuisse40;142;22;78.2;10.4;63.4;20.4;9.4;2...
21     PontlEveque;300;223;156.7;23.4;53;4;21.1;70;22
22    Pyrenees;355;232;178.9;28.0;51.5;6.8;22.4;90;25
23   Reblochon;309;272;202.3;24.6;73.1;8.1;19.7;80;30
24  Rocquefort;370;432;162;31.2;83.5;13.3;18.7;100;25
25   SaintPaulin;298;205;261;23.3;60.4;6.7;23.3;70;26
26        Tome;321;252;125.5;27.3;62.3;6.2;21.8;80;20
27      Vacherin;321;140;218;29.3;49.2;3.7;17.6;80;30
28  Yaourtlaitent.nat.;70;91;215.7;3.4;42.9;2.9;4....

#### Step 3.  
By looking at these rows, you probably noticed that the import didn’t go correctly. So, you will now import the dataset properly.    
You will use ';' as the delimiter and specify that the first row contains the column names.

In [7]:
datas = read_csv("C:/Users/marius.pingaud/OneDrive - BERGER-LEVRAULT/Bureau/Sorbonne/M2/ML/machine_learning_tryout/Lab1/Datasets/cheese.csv", delimiter=';', header=0)

You can then check once more.

#### Step 4. Check the data types of each column

The second thing to do is a quick check of the data types assigned by Pandas to each column during import, again to ensure that the import was successful.  Display the data type of all columns.

In [11]:
print(datas)
datas.info()
print(datas.shape)
datas.columns

                cheese  calories  sodium  calcium  lipides  retinol  folates  \
0          CarredelEst       314   353.5     72.6     26.3     51.6     30.3
1              Babybel       314   238.0    209.8     25.1     63.7      6.4
2             Beaufort       401   112.0    259.4     33.3     54.9      1.2
3                 Bleu       342   336.0    211.1     28.9     37.1     27.5
4            Camembert       264   314.0    215.9     19.5    103.0     36.4
5               Cantal       367   256.0    264.0     28.8     48.8      5.7
6            Chabichou       344   192.0     87.2     27.9     90.1     36.3
7             Chaource       292   276.0    132.9     25.4    116.4     32.5
8              Cheddar       406   172.0    182.3     32.5     76.4      4.9
9                Comte       399    92.0    220.5     32.4     55.9      1.3
10         Coulomniers       308   222.0     79.2     25.6     63.6     21.1
11                Edam       327   148.0    272.2     24.7     65.7      5.5
12            Emmental       378    60.0    308.2     29.4     56.3      2.4
13  Fr.chevrepatemolle       206   160.0     72.8     18.5    150.5     31.0
14         Fr.fondu.45       292   390.0    168.5     24.0     77.4      5.5
15      Fr.frais20nat.        80    41.0    146.3      3.5     50.0     20.0
16      Fr.frais40nat.       115    25.0     94.8      7.8     64.3     22.6
17           Maroilles       338   311.0    236.7     29.1     46.7      3.6
18             Morbier       347   285.0    219.0     29.5     57.6      5.8
19            Parmesan       381   240.0    334.6     27.5     90.0      5.2
20       Petitsuisse40       142    22.0     78.2     10.4     63.4     20.4
21         PontlEveque       300   223.0    156.7     23.4     53.0      4.0
22            Pyrenees       355   232.0    178.9     28.0     51.5      6.8
23           Reblochon       309   272.0    202.3     24.6     73.1      8.1
24          Rocquefort       370   432.0    162.0     31.2     83.5     13.3
25         SaintPaulin       298   205.0    261.0     23.3     60.4      6.7
26                Tome       321   252.0    125.5     27.3     62.3      6.2
27            Vacherin       321   140.0    218.0     29.3     49.2      3.7
28  Yaourtlaitent.nat.        70    91.0    215.7      3.4     42.9      2.9

    proteines  cholesterol  magnesium
0        21.0           70         20
1        22.6           70         27
2        26.6          120         41
3        20.2           90         27
4        23.4           60         20
5        23.0           90         30
6        19.5           80         36
7        17.8           70         25
8        26.0          110         28
9        29.2          120         51
10       20.5           80         13
11       24.7           80         44
12       29.4          110         45
13       11.1           50         16
14       16.8           70         20
15        8.3           10         11
16        7.0           30         10
17       20.4           90         40
18       23.6           80         30
19       35.7           80         46
20        9.4           20         10
21       21.1           70         22
22       22.4           90         25
23       19.7           80         30
24       18.7          100         25
25       23.3           70         26
26       21.8           80         20
27       17.6           80         30
28        4.1           13         14
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   cheese       29 non-null     object
 1   calories     29 non-null     int64
 2   sodium       29 non-null     float64
 3   calcium      29 non-null     float64
 4   lipides      29 non-null     float64
 5   retinol      29 non-null     float64
 6   folates      29 non-null     float64
 7   proteines    29 non-null     float64
 8   cholesterol  29 non-null     int64
 9   magnesium    29 non-null     int64
dtypes: float64(6), int64(3), object(1)
memory usage: 2.4+ KB
(29, 10)

Index(['cheese', 'calories', 'sodium', 'calcium', 'lipides', 'retinol',
       'folates', 'proteines', 'cholesterol', 'magnesium'],
      dtype='object')

#### Step 5. How many observations are in the dataset?

How many rows and columns are contained in our file?

There is 29 rows and 10 columns

#### Step 6. What information is available about the first cheese in the dataset?

It's now time to use the most useful selection function: the [`iloc`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html) method.

In [12]:
print(datas.iloc[0])

cheese         CarredelEst
calories               314
sodium               353.5
calcium               72.6
lipides               26.3
retinol               51.6
folates               30.3
proteines             21.0
cholesterol             70
magnesium               20
Name: 0, dtype: object

#### Step 7. Rename the variable `Cheeses` to `Cheeses_name`.

In [18]:
datas.rename(columns={'cheese':'Cheeses_name'}, inplace=True)
print(datas)

          Cheeses_name  calories  sodium  calcium  lipides  retinol  folates  \
0          CarredelEst       314   353.5     72.6     26.3     51.6     30.3
1              Babybel       314   238.0    209.8     25.1     63.7      6.4
2             Beaufort       401   112.0    259.4     33.3     54.9      1.2
3                 Bleu       342   336.0    211.1     28.9     37.1     27.5
4            Camembert       264   314.0    215.9     19.5    103.0     36.4
5               Cantal       367   256.0    264.0     28.8     48.8      5.7
6            Chabichou       344   192.0     87.2     27.9     90.1     36.3
7             Chaource       292   276.0    132.9     25.4    116.4     32.5
8              Cheddar       406   172.0    182.3     32.5     76.4      4.9
9                Comte       399    92.0    220.5     32.4     55.9      1.3
10         Coulomniers       308   222.0     79.2     25.6     63.6     21.1
11                Edam       327   148.0    272.2     24.7     65.7      5.5
12            Emmental       378    60.0    308.2     29.4     56.3      2.4
13  Fr.chevrepatemolle       206   160.0     72.8     18.5    150.5     31.0
14         Fr.fondu.45       292   390.0    168.5     24.0     77.4      5.5
15      Fr.frais20nat.        80    41.0    146.3      3.5     50.0     20.0
16      Fr.frais40nat.       115    25.0     94.8      7.8     64.3     22.6
17           Maroilles       338   311.0    236.7     29.1     46.7      3.6
18             Morbier       347   285.0    219.0     29.5     57.6      5.8
19            Parmesan       381   240.0    334.6     27.5     90.0      5.2
20       Petitsuisse40       142    22.0     78.2     10.4     63.4     20.4
21         PontlEveque       300   223.0    156.7     23.4     53.0      4.0
22            Pyrenees       355   232.0    178.9     28.0     51.5      6.8
23           Reblochon       309   272.0    202.3     24.6     73.1      8.1
24          Rocquefort       370   432.0    162.0     31.2     83.5     13.3
25         SaintPaulin       298   205.0    261.0     23.3     60.4      6.7
26                Tome       321   252.0    125.5     27.3     62.3      6.2
27            Vacherin       321   140.0    218.0     29.3     49.2      3.7
28  Yaourtlaitent.nat.        70    91.0    215.7      3.4     42.9      2.9

    proteines  cholesterol  magnesium
0        21.0           70         20
1        22.6           70         27
2        26.6          120         41
3        20.2           90         27
4        23.4           60         20
5        23.0           90         30
6        19.5           80         36
7        17.8           70         25
8        26.0          110         28
9        29.2          120         51
10       20.5           80         13
11       24.7           80         44
12       29.4          110         45
13       11.1           50         16
14       16.8           70         20
15        8.3           10         11
16        7.0           30         10
17       20.4           90         40
18       23.6           80         30
19       35.7           80         46
20        9.4           20         10
21       21.1           70         22
22       22.4           90         25
23       19.7           80         30
24       18.7          100         25
25       23.3           70         26
26       21.8           80         20
27       17.6           80         30
28        4.1           13         14

#### Step 8. What cheeses are present in the dataset?

In [23]:
print(datas['Cheeses_name'])

0            CarredelEst
1                Babybel
2               Beaufort
3                   Bleu
4              Camembert
5                 Cantal
6              Chabichou
7               Chaource
8                Cheddar
9                  Comte
10           Coulomniers
11                  Edam
12              Emmental
13    Fr.chevrepatemolle
14           Fr.fondu.45
15        Fr.frais20nat.
16        Fr.frais40nat.
17             Maroilles
18               Morbier
19              Parmesan
20         Petitsuisse40
21           PontlEveque
22              Pyrenees
23             Reblochon
24            Rocquefort
25           SaintPaulin
26                  Tome
27              Vacherin
28    Yaourtlaitent.nat.
Name: Cheeses_name, dtype: object

##### Step 9. Quick analysis of the information in our dataset

Use the [`describe`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html) and [`info`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html) functions to get some quick information about the variables in our dataframe:

In [28]:
datas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Cheeses_name  29 non-null     object
 1   calories      29 non-null     int64
 2   sodium        29 non-null     float64
 3   calcium       29 non-null     float64
 4   lipides       29 non-null     float64
 5   retinol       29 non-null     float64
 6   folates       29 non-null     float64
 7   proteines     29 non-null     float64
 8   cholesterol   29 non-null     int64
 9   magnesium     29 non-null     int64
dtypes: float64(6), int64(3), object(1)
memory usage: 2.4+ KB

Based on these descriptions, can you determine the number of non-null elements in the dataset?

29 non-null by columns, 10 columns, 290 non-null elements

##### Step 10. Selection within a dataframe

###### a) We have seen how to select a column. Using similar syntax, select two columns of your choice.

In [29]:
datas[['Cheeses_name', 'magnesium']]

          Cheeses_name  magnesium
0          CarredelEst         20
1              Babybel         27
2             Beaufort         41
3                 Bleu         27
4            Camembert         20
5               Cantal         30
6            Chabichou         36
7             Chaource         25
8              Cheddar         28
9                Comte         51
10         Coulomniers         13
11                Edam         44
12            Emmental         45
13  Fr.chevrepatemolle         16
14         Fr.fondu.45         20
15      Fr.frais20nat.         11
16      Fr.frais40nat.         10
17           Maroilles         40
18             Morbier         30
19            Parmesan         46
20       Petitsuisse40         10
21         PontlEveque         22
22            Pyrenees         25
23           Reblochon         30
24          Rocquefort         25
25         SaintPaulin         26
26                Tome         20
27            Vacherin         30
28  Yaourtlaitent.nat.         14

###### b) Using the [`loc`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html) method, select and determine the cheeses with low calories (less than 100):

In [33]:
datas.loc[datas['calories']<100]

,Cheeses_name,calories,sodium,calcium,lipides,retinol,folates,proteines,cholesterol,magnesium
15,Fr.frais20nat.,80,41.0,146.3,3.5,50.0,20.0,8.3,10,11
28,Yaourtlaitent.nat.,70,91.0,215.7,3.4,42.9,2.9,4.1,13,14

###### c) Select only the names of these cheeses

In [41]:
filtered = datas.loc[datas['calories']<100]
filtered[['Cheeses_name']]

          Cheeses_name
15      Fr.frais20nat.
28  Yaourtlaitent.nat.

###### d) Now select the information describing the cheeses with less than 100 calories and more than 5 grams of protein.

In [39]:
datas.loc[(datas['calories']<100) & (datas['proteines']>5)]

,Cheeses_name,calories,sodium,calcium,lipides,retinol,folates,proteines,cholesterol,magnesium
15,Fr.frais20nat.,80,41.0,146.3,3.5,50.0,20.0,8.3,10,11

###### e) For these cheeses, select only their name and the number of proteins.

In [40]:
filtered = datas.loc[(datas['calories']<100) & (datas['proteines']>5)]
filtered[['Cheeses_name', 'proteines']]

      Cheeses_name  proteines
15  Fr.frais20nat.        8.3

###### f) Finally, create a new dataframe that will contain only the cheeses with calories greater than or equal to 100.

In [42]:
datas.loc[datas['calories']>=100]

,Cheeses_name,calories,sodium,calcium,lipides,retinol,folates,proteines,cholesterol,magnesium
0,CarredelEst,314,353.5,72.6,26.3,51.6,30.3,21.0,70,20
1,Babybel,314,238.0,209.8,25.1,63.7,6.4,22.6,70,27
2,Beaufort,401,112.0,259.4,33.3,54.9,1.2,26.6,120,41
3,Bleu,342,336.0,211.1,28.9,37.1,27.5,20.2,90,27
4,Camembert,264,314.0,215.9,19.5,103.0,36.4,23.4,60,20
5,Cantal,367,256.0,264.0,28.8,48.8,5.7,23.0,90,30
6,Chabichou,344,192.0,87.2,27.9,90.1,36.3,19.5,80,36
7,Chaource,292,276.0,132.9,25.4,116.4,32.5,17.8,70,25
8,Cheddar,406,172.0,182.3,32.5,76.4,4.9,26.0,110,28
9,Comte,399,92.0,220.5,32.4,55.9,1.3,29.2,120,51
10,Coulomniers,308,222.0,79.2,25.6,63.6,21.1,20.5,80,13
11,Edam,327,148.0,272.2,24.7,65.7,5.5,24.7,80,44
12,Emmental,378,60.0,308.2,29.4,56.3,2.4,29.4,110,45
13,Fr.chevrepatemolle,206,160.0,72.8,18.5,150.5,31.0,11.1,50,16
14,Fr.fondu.45,292,390.0,168.5,24.0,77.4,5.5,16.8,70,20
16,Fr.frais40nat.,115,25.0,94.8,7.8,64.3,22.6,7.0,30,10
17,Maroilles,338,311.0,236.7,29.1,46.7,3.6,20.4,90,40
18,Morbier,347,285.0,219.0,29.5,57.6,5.8,23.6,80,30
19,Parmesan,381,240.0,334.6,27.5,90.0,5.2,35.7,80,46
20,Petitsuisse40,142,22.0,78.2,10.4,63.4,20.4,9.4,20,10
21,PontlEveque,300,223.0,156.7,23.4,53.0,4.0,21.1,70,22
22,Pyrenees,355,232.0,178.9,28.0,51.5,6.8,22.4,90,25
23,Reblochon,309,272.0,202.3,24.6,73.1,8.1,19.7,80,30
24,Rocquefort,370,432.0,162.0,31.2,83.5,13.3,18.7,100,25
25,SaintPaulin,298,205.0,261.0,23.3,60.4,6.7,23.3,70,26
26,Tome,321,252.0,125.5,27.3,62.3,6.2,21.8,80,20
27,Vacherin,321,140.0,218.0,29.3,49.2,3.7,17.6,80,30

##### Step 11. Creating new variables

We will create a new dietary column that indicates whether the cheese is suitable for a diet based on the criteria "calories < 100" and "proteins > 5"

fromage['dietetique'] = ((fromage['calories'] < 100) & (fromage['proteines'] > 5)).map({True: 'Yes', False: 'No'})

In [44]:
datas['dietetique'] = ((datas['calories'] < 100) & (datas['proteines'] > 5)).map({True: 'Yes', False: 'No'})
datas

,Cheeses_name,calories,sodium,calcium,lipides,retinol,folates,proteines,cholesterol,magnesium,dietetique
0,CarredelEst,314,353.5,72.6,26.3,51.6,30.3,21.0,70,20,No
1,Babybel,314,238.0,209.8,25.1,63.7,6.4,22.6,70,27,No
2,Beaufort,401,112.0,259.4,33.3,54.9,1.2,26.6,120,41,No
3,Bleu,342,336.0,211.1,28.9,37.1,27.5,20.2,90,27,No
4,Camembert,264,314.0,215.9,19.5,103.0,36.4,23.4,60,20,No
5,Cantal,367,256.0,264.0,28.8,48.8,5.7,23.0,90,30,No
6,Chabichou,344,192.0,87.2,27.9,90.1,36.3,19.5,80,36,No
7,Chaource,292,276.0,132.9,25.4,116.4,32.5,17.8,70,25,No
8,Cheddar,406,172.0,182.3,32.5,76.4,4.9,26.0,110,28,No
9,Comte,399,92.0,220.5,32.4,55.9,1.3,29.2,120,51,No
10,Coulomniers,308,222.0,79.2,25.6,63.6,21.1,20.5,80,13,No
11,Edam,327,148.0,272.2,24.7,65.7,5.5,24.7,80,44,No
12,Emmental,378,60.0,308.2,29.4,56.3,2.4,29.4,110,45,No
13,Fr.chevrepatemolle,206,160.0,72.8,18.5,150.5,31.0,11.1,50,16,No
14,Fr.fondu.45,292,390.0,168.5,24.0,77.4,5.5,16.8,70,20,No
15,Fr.frais20nat.,80,41.0,146.3,3.5,50.0,20.0,8.3,10,11,Yes
16,Fr.frais40nat.,115,25.0,94.8,7.8,64.3,22.6,7.0,30,10,No
17,Maroilles,338,311.0,236.7,29.1,46.7,3.6,20.4,90,40,No
18,Morbier,347,285.0,219.0,29.5,57.6,5.8,23.6,80,30,No
19,Parmesan,381,240.0,334.6,27.5,90.0,5.2,35.7,80,46,No
20,Petitsuisse40,142,22.0,78.2,10.4,63.4,20.4,9.4,20,10,No
21,PontlEveque,300,223.0,156.7,23.4,53.0,4.0,21.1,70,22,No
22,Pyrenees,355,232.0,178.9,28.0,51.5,6.8,22.4,90,25,No
23,Reblochon,309,272.0,202.3,24.6,73.1,8.1,19.7,80,30,No
24,Rocquefort,370,432.0,162.0,31.2,83.5,13.3,18.7,100,25,No
25,SaintPaulin,298,205.0,261.0,23.3,60.4,6.7,23.3,70,26,No
26,Tome,321,252.0,125.5,27.3,62.3,6.2,21.8,80,20,No
27,Vacherin,321,140.0,218.0,29.3,49.2,3.7,17.6,80,30,No
28,Yaourtlaitent.nat.,70,91.0,215.7,3.4,42.9,2.9,4.1,13,14,No

<h2 style="color: blue;">Part 2: Identification and Handling of Missing Values</h2>

Now, we will address the handling of a DataFrame with issues. You will import the CSV file named 'fromage_V2'.

In [76]:
df2 = read_csv("C:/Users/marius.pingaud/OneDrive - BERGER-LEVRAULT/Bureau/Sorbonne/M2/ML/machine_learning_tryout/Lab1/Datasets/cheese_V2.csv", delimiter=';', header=0)
df2

,cheese,calories,sodium,calcium,lipides,retinol,folates,proteines,cholesterol,magnesium,unnamed
0,CarredelEst,314.0,353.5,72.6,26.3,51.6,30.3,21.0,70.0,20.0,NaN
1,Babybel,314.0,238.0,209.8,25.1,63.7,6.4,22.6,70.0,27.0,NaN
2,Beaufort,401.0,112.0,259.4,33.3,54.9,1.2,26.6,120.0,41.0,NaN
3,Bleu,342.0,336.0,211.1,28.9,37.1,27.5,20.2,90.0,27.0,NaN
4,Camembert,264.0,314.0,215.9,19.5,103.0,36.4,23.4,60.0,20.0,NaN
5,Cantal,367.0,256.0,264.0,28.8,48.8,5.7,23.0,90.0,30.0,NaN
6,Chabichou,344.0,192.0,87.2,27.9,90.1,36.3,19.5,80.0,36.0,NaN
7,Chaource,292.0,276.0,132.9,25.4,116.4,32.5,17.8,70.0,25.0,NaN
8,Cheddar,406.0,172.0,182.3,32.5,76.4,4.9,26.0,110.0,28.0,NaN
9,Comte,399.0,92.0,220.5,32.4,55.9,1.3,29.2,120.0,51.0,NaN
10,Coulomniers,308.0,222.0,79.2,25.6,63.6,21.1,20.5,80.0,13.0,NaN
11,Edam,327.0,148.0,272.2,24.7,65.7,5.5,24.7,80.0,44.0,NaN
12,Emmental,378.0,60.0,308.2,29.4,56.3,2.4,29.4,110.0,45.0,NaN
13,Fr.chevrepatemolle,206.0,160.0,72.8,18.5,150.5,31.0,11.1,50.0,16.0,NaN
14,Fr.fondu.45,292.0,390.0,168.5,24.0,77.4,5.5,16.8,70.0,20.0,NaN
15,Fr.frais20nat.,80.0,41.0,146.3,3.5,50.0,20.0,8.3,10.0,11.0,NaN
16,Fr.frais40nat.,115.0,25.0,94.8,7.8,64.3,22.6,7.0,30.0,10.0,NaN
17,Maroilles,338.0,311.0,236.7,29.1,46.7,3.6,20.4,90.0,40.0,NaN
18,Morbier,347.0,285.0,219.0,29.5,57.6,5.8,23.6,80.0,30.0,NaN
19,Parmesan,381.0,240.0,334.6,27.5,90.0,5.2,35.7,80.0,46.0,NaN
20,Petitsuisse40,142.0,22.0,78.2,10.4,63.4,20.4,9.4,20.0,10.0,NaN
21,PontlEveque,300.0,223.0,156.7,23.4,53.0,4.0,21.1,70.0,22.0,NaN
22,Pyrenees,355.0,232.0,178.9,28.0,51.5,6.8,22.4,90.0,25.0,NaN
23,Reblochon,309.0,272.0,202.3,24.6,73.1,8.1,19.7,80.0,30.0,NaN
24,Rocquefort,370.0,432.0,162.0,31.2,83.5,13.3,18.7,100.0,25.0,NaN
25,SaintPaulin,298.0,205.0,261.0,23.3,60.4,6.7,23.3,70.0,26.0,NaN
26,Tome,321.0,252.0,125.5,27.3,62.3,6.2,21.8,80.0,20.0,NaN
27,Vacherin,321.0,140.0,218.0,29.3,49.2,3.7,17.6,80.0,30.0,NaN
28,Yaourtlaitent.nat.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### Step 12: Identification and Handling of Missing Values

While exploring your DataFrame, you likely noticed an empty column named **'unnamed'** and rows containing null values. You can use methods to check for missing values such as:
- isna() or isnull()
- Visualize the distribution of missing values.

In [68]:
df2.isna()
df2.isnull()

#Count the missing values for each column
df2.isna().sum()

#import missingno as msno
# Visualize the missing values in the DataFrame
#msno.matrix(df2)

cheese          0
calories        1
sodium          1
calcium         1
lipides         1
retinol         1
folates         1
proteines       1
cholesterol     1
magnesium       1
unnamed        29
dtype: int64

To handle missing values, several options are available to you:

##### 1. **Deletion of rows or columns**
   You can choose to delete rows or columns containing missing values. This can be useful if the missing data is minimal and its removal does not significantly affect the analysis.

##### 2. **Filling missing values (imputation)**
   Imputation involves replacing missing values (or NaNs) with estimated or calculated values. Several techniques are available for imputation:
   - **Imputation with a constant value**: Replace missing values with a fixed value of your choice.
   - **Imputation with the mean**: Replace missing values with the mean of the column.
   - **Imputation with the median**: Use the median to replace missing values, which can be more robust against outliers.
   - **Imputation with the most frequent value (mode)**: Replace missing values with the most frequent value in the column.
   - **Imputation with regression**: Use a **regression** model to predict missing values based on other variables in the dataset. This can be more effective when missing values are related to other features of the data.

##### 3. **Interpolation**
   You can use **interpolation** methods to estimate missing values based on neighboring values in the column. This is particularly useful in time series data or when the data is ordered.

---

##### Choosing the imputation method based on the type of data

The choice of method largely depends on the **context** of your data and the **objective** of your analysis. Here are some guidelines based on the type of data:

- **Numerical data**: For continuous variables such as age, income, or temperature, methods like **mean**, **median**, or even **regression** imputation may be appropriate.
  
- **Categorical data**: For non-numeric variables, such as categories (e.g., gender or colors), imputation with the **most frequent value** or **regression** (based on explanatory variables) may be more effective.

---

In summary, it is essential to choose the imputation method that suits the nature of your data and the goal of your analysis. Simple methods like mean or median imputation may suffice for simple cases, while more complex methods like regression or interpolation may be necessary for more advanced scenarios.

###### a) Deletion of rows or columns

In [52]:
df2.dropna(axis=1, inplace=True) 
df2

                cheese
0          CarredelEst
1              Babybel
2             Beaufort
3                 Bleu
4            Camembert
5               Cantal
6            Chabichou
7             Chaource
8              Cheddar
9                Comte
10         Coulomniers
11                Edam
12            Emmental
13  Fr.chevrepatemolle
14         Fr.fondu.45
15      Fr.frais20nat.
16      Fr.frais40nat.
17           Maroilles
18             Morbier
19            Parmesan
20       Petitsuisse40
21         PontlEveque
22            Pyrenees
23           Reblochon
24          Rocquefort
25         SaintPaulin
26                Tome
27            Vacherin
28  Yaourtlaitent.nat.

In [77]:
# Mean imputation for missing calorie values
mean_column = df2['calories'].mean()  
df2.fillna({'calories' : mean_column}, inplace=True)
df2

,cheese,calories,sodium,calcium,lipides,retinol,folates,proteines,cholesterol,magnesium,unnamed
0,CarredelEst,314.00,353.5,72.6,26.3,51.6,30.3,21.0,70.0,20.0,NaN
1,Babybel,314.00,238.0,209.8,25.1,63.7,6.4,22.6,70.0,27.0,NaN
2,Beaufort,401.00,112.0,259.4,33.3,54.9,1.2,26.6,120.0,41.0,NaN
3,Bleu,342.00,336.0,211.1,28.9,37.1,27.5,20.2,90.0,27.0,NaN
4,Camembert,264.00,314.0,215.9,19.5,103.0,36.4,23.4,60.0,20.0,NaN
5,Cantal,367.00,256.0,264.0,28.8,48.8,5.7,23.0,90.0,30.0,NaN
6,Chabichou,344.00,192.0,87.2,27.9,90.1,36.3,19.5,80.0,36.0,NaN
7,Chaource,292.00,276.0,132.9,25.4,116.4,32.5,17.8,70.0,25.0,NaN
8,Cheddar,406.00,172.0,182.3,32.5,76.4,4.9,26.0,110.0,28.0,NaN
9,Comte,399.00,92.0,220.5,32.4,55.9,1.3,29.2,120.0,51.0,NaN
10,Coulomniers,308.00,222.0,79.2,25.6,63.6,21.1,20.5,80.0,13.0,NaN
11,Edam,327.00,148.0,272.2,24.7,65.7,5.5,24.7,80.0,44.0,NaN
12,Emmental,378.00,60.0,308.2,29.4,56.3,2.4,29.4,110.0,45.0,NaN
13,Fr.chevrepatemolle,206.00,160.0,72.8,18.5,150.5,31.0,11.1,50.0,16.0,NaN
14,Fr.fondu.45,292.00,390.0,168.5,24.0,77.4,5.5,16.8,70.0,20.0,NaN
15,Fr.frais20nat.,80.00,41.0,146.3,3.5,50.0,20.0,8.3,10.0,11.0,NaN
16,Fr.frais40nat.,115.00,25.0,94.8,7.8,64.3,22.6,7.0,30.0,10.0,NaN
17,Maroilles,338.00,311.0,236.7,29.1,46.7,3.6,20.4,90.0,40.0,NaN
18,Morbier,347.00,285.0,219.0,29.5,57.6,5.8,23.6,80.0,30.0,NaN
19,Parmesan,381.00,240.0,334.6,27.5,90.0,5.2,35.7,80.0,46.0,NaN
20,Petitsuisse40,142.00,22.0,78.2,10.4,63.4,20.4,9.4,20.0,10.0,NaN
21,PontlEveque,300.00,223.0,156.7,23.4,53.0,4.0,21.1,70.0,22.0,NaN
22,Pyrenees,355.00,232.0,178.9,28.0,51.5,6.8,22.4,90.0,25.0,NaN
23,Reblochon,309.00,272.0,202.3,24.6,73.1,8.1,19.7,80.0,30.0,NaN
24,Rocquefort,370.00,432.0,162.0,31.2,83.5,13.3,18.7,100.0,25.0,NaN
25,SaintPaulin,298.00,205.0,261.0,23.3,60.4,6.7,23.3,70.0,26.0,NaN
26,Tome,321.00,252.0,125.5,27.3,62.3,6.2,21.8,80.0,20.0,NaN
27,Vacherin,321.00,140.0,218.0,29.3,49.2,3.7,17.6,80.0,30.0,NaN
28,Yaourtlaitent.nat.,308.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###### b) Filling missing values with the mean

In [85]:
df2.fillna(df2.mean(numeric_only=True), inplace=True)
df2

,cheese,calories,sodium,calcium,lipides,retinol,folates,proteines,cholesterol,magnesium,unnamed,fats
0,CarredelEst,314.00,353.500000,72.600000,26.3,51.600000,30.3,21.000000,70.000000,20.000000,NaN,1
1,Babybel,314.00,238.000000,209.800000,25.1,63.700000,6.4,22.600000,70.000000,27.000000,NaN,1
2,Beaufort,401.00,112.000000,259.400000,33.3,54.900000,1.2,26.600000,120.000000,41.000000,NaN,1
3,Bleu,342.00,336.000000,211.100000,28.9,37.100000,27.5,20.200000,90.000000,27.000000,NaN,1
4,Camembert,264.00,314.000000,215.900000,19.5,103.000000,36.4,23.400000,60.000000,20.000000,NaN,1
5,Cantal,367.00,256.000000,264.000000,28.8,48.800000,5.7,23.000000,90.000000,30.000000,NaN,1
6,Chabichou,344.00,192.000000,87.200000,27.9,90.100000,36.3,19.500000,80.000000,36.000000,NaN,1
7,Chaource,292.00,276.000000,132.900000,25.4,116.400000,32.5,17.800000,70.000000,25.000000,NaN,1
8,Cheddar,406.00,172.000000,182.300000,32.5,76.400000,4.9,26.000000,110.000000,28.000000,NaN,1
9,Comte,399.00,92.000000,220.500000,32.4,55.900000,1.3,29.200000,120.000000,51.000000,NaN,1
10,Coulomniers,308.00,222.000000,79.200000,25.6,63.600000,21.1,20.500000,80.000000,13.000000,NaN,1
11,Edam,327.00,148.000000,272.200000,24.7,65.700000,5.5,24.700000,80.000000,44.000000,NaN,1
12,Emmental,378.00,60.000000,308.200000,29.4,56.300000,2.4,29.400000,110.000000,45.000000,NaN,1
13,Fr.chevrepatemolle,206.00,160.000000,72.800000,18.5,150.500000,31.0,11.100000,50.000000,16.000000,NaN,1
14,Fr.fondu.45,292.00,390.000000,168.500000,24.0,77.400000,5.5,16.800000,70.000000,20.000000,NaN,1
15,Fr.frais20nat.,80.00,41.000000,146.300000,3.5,50.000000,20.0,8.300000,10.000000,11.000000,NaN,1
16,Fr.frais40nat.,115.00,25.000000,94.800000,7.8,64.300000,22.6,7.000000,30.000000,10.000000,NaN,1
17,Maroilles,338.00,311.000000,236.700000,29.1,46.700000,3.6,20.400000,90.000000,40.000000,NaN,1
18,Morbier,347.00,285.000000,219.000000,29.5,57.600000,5.8,23.600000,80.000000,30.000000,NaN,1
19,Parmesan,381.00,240.000000,334.600000,27.5,90.000000,5.2,35.700000,80.000000,46.000000,NaN,1
20,Petitsuisse40,142.00,22.000000,78.200000,10.4,63.400000,20.4,9.400000,20.000000,10.000000,NaN,1
21,PontlEveque,300.00,223.000000,156.700000,23.4,53.000000,4.0,21.100000,70.000000,22.000000,NaN,1
22,Pyrenees,355.00,232.000000,178.900000,28.0,51.500000,6.8,22.400000,90.000000,25.000000,NaN,1
23,Reblochon,309.00,272.000000,202.300000,24.6,73.100000,8.1,19.700000,80.000000,30.000000,NaN,1
24,Rocquefort,370.00,432.000000,162.000000,31.2,83.500000,13.3,18.700000,100.000000,25.000000,NaN,1
25,SaintPaulin,298.00,205.000000,261.000000,23.3,60.400000,6.7,23.300000,70.000000,26.000000,NaN,1
26,Tome,321.00,252.000000,125.500000,27.3,62.300000,6.2,21.800000,80.000000,20.000000,NaN,1
27,Vacherin,321.00,140.000000,218.000000,29.3,49.200000,3.7,17.600000,80.000000,30.000000,NaN,1
28,Yaourtlaitent.nat.,308.25,108.187599,184.664286,24.9,68.442857,5.5,20.742857,76.785714,27.428571,NaN,1

- Imputation with standard deviation for sodium
- Imputation with 1 for fats
- Imputation with the most frequent value for fotales

In [ ]:
deviation = df2['sodium'].std()
df2.fillna({'sodium':deviation}, inplace=True)

df2['fats'] = 1
df2

most_frequent = df2['folates'].mode()[0]
df2.fillna({'folates':most_frequent}, inplace=True)
df2

,cheese,calories,sodium,calcium,lipides,retinol,folates,proteines,cholesterol,magnesium,unnamed,fats
0,CarredelEst,314.00,353.500000,72.6,26.3,51.6,30.3,21.0,70.0,20.0,NaN,1
1,Babybel,314.00,238.000000,209.8,25.1,63.7,6.4,22.6,70.0,27.0,NaN,1
2,Beaufort,401.00,112.000000,259.4,33.3,54.9,1.2,26.6,120.0,41.0,NaN,1
3,Bleu,342.00,336.000000,211.1,28.9,37.1,27.5,20.2,90.0,27.0,NaN,1
4,Camembert,264.00,314.000000,215.9,19.5,103.0,36.4,23.4,60.0,20.0,NaN,1
5,Cantal,367.00,256.000000,264.0,28.8,48.8,5.7,23.0,90.0,30.0,NaN,1
6,Chabichou,344.00,192.000000,87.2,27.9,90.1,36.3,19.5,80.0,36.0,NaN,1
7,Chaource,292.00,276.000000,132.9,25.4,116.4,32.5,17.8,70.0,25.0,NaN,1
8,Cheddar,406.00,172.000000,182.3,32.5,76.4,4.9,26.0,110.0,28.0,NaN,1
9,Comte,399.00,92.000000,220.5,32.4,55.9,1.3,29.2,120.0,51.0,NaN,1
10,Coulomniers,308.00,222.000000,79.2,25.6,63.6,21.1,20.5,80.0,13.0,NaN,1
11,Edam,327.00,148.000000,272.2,24.7,65.7,5.5,24.7,80.0,44.0,NaN,1
12,Emmental,378.00,60.000000,308.2,29.4,56.3,2.4,29.4,110.0,45.0,NaN,1
13,Fr.chevrepatemolle,206.00,160.000000,72.8,18.5,150.5,31.0,11.1,50.0,16.0,NaN,1
14,Fr.fondu.45,292.00,390.000000,168.5,24.0,77.4,5.5,16.8,70.0,20.0,NaN,1
15,Fr.frais20nat.,80.00,41.000000,146.3,3.5,50.0,20.0,8.3,10.0,11.0,NaN,1
16,Fr.frais40nat.,115.00,25.000000,94.8,7.8,64.3,22.6,7.0,30.0,10.0,NaN,1
17,Maroilles,338.00,311.000000,236.7,29.1,46.7,3.6,20.4,90.0,40.0,NaN,1
18,Morbier,347.00,285.000000,219.0,29.5,57.6,5.8,23.6,80.0,30.0,NaN,1
19,Parmesan,381.00,240.000000,334.6,27.5,90.0,5.2,35.7,80.0,46.0,NaN,1
20,Petitsuisse40,142.00,22.000000,78.2,10.4,63.4,20.4,9.4,20.0,10.0,NaN,1
21,PontlEveque,300.00,223.000000,156.7,23.4,53.0,4.0,21.1,70.0,22.0,NaN,1
22,Pyrenees,355.00,232.000000,178.9,28.0,51.5,6.8,22.4,90.0,25.0,NaN,1
23,Reblochon,309.00,272.000000,202.3,24.6,73.1,8.1,19.7,80.0,30.0,NaN,1
24,Rocquefort,370.00,432.000000,162.0,31.2,83.5,13.3,18.7,100.0,25.0,NaN,1
25,SaintPaulin,298.00,205.000000,261.0,23.3,60.4,6.7,23.3,70.0,26.0,NaN,1
26,Tome,321.00,252.000000,125.5,27.3,62.3,6.2,21.8,80.0,20.0,NaN,1
27,Vacherin,321.00,140.000000,218.0,29.3,49.2,3.7,17.6,80.0,30.0,NaN,1
28,Yaourtlaitent.nat.,308.25,108.187599,NaN,NaN,NaN,5.5,NaN,NaN,NaN,NaN,1

<h2 style="color: blue;"> Matrice de Corrélation </h2>


A correlation matrix is a table that shows the correlation (linear relationship) between multiple variables in a dataset. Each value in the matrix represents the **strength** and **direction** of the relationship between two variables.

Correlations are often measured using the **Pearson correlation coefficient**, which ranges from **-1 to 1**:

- **1**: Perfect positive correlation (when one variable increases, the other increases proportionally).
- **-1**: Perfect negative correlation (when one variable increases, the other decreases proportionally).
- **0**: No correlation (the variables are independent).

In [ ]:
'''import seaborn as sns
import matplotlib.pyplot as plt

# Compute the correlation matrix
corr_matrix = df2.corr()

# Visualize with a heatmap
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', vmin=-1, vmax=1)
plt.title("Correlation Matrix")
plt.show()'''

<h2 style="color: blue;"> Part 4. let's play </h2>

- Import the IRIS dataset from the following URL: [`IRIS`] (https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv)
- Display the first and last few rows of the DataFrame.
- Determine the number of rows and columns in the dataset.
- Display the value in the third row of the "sepal_width" column.
- Display the entire third row of the DataFrame.
- Calculate and display the mean of the "sepal_length" column.
- Calculate and display the standard deviation of the "sepal_length" column.
- Find and display the minimum value in the "sepal_length" column.
- Check for missing values in the dataset.
- Set the values of rows 10 to 29 in the "petal_length" column to NaN.
- Replace the NaN values in the "petal_length" column with 1.0.
- Set the first three rows of the DataFrame to NaN.
- Remove all rows containing NaN values from the DataFrame : [`dropna`](https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.dropna.html)
- Rename the "species" column to "class".

#### Exercice 2.
Objective: Create a Pandas DataFrame from the two variables declared below. The keys of the dictionary exam_data correspond to the column names of the DataFrame. The list of strings labels corresponds to the index of the DataFrame.

Explore then this dataframe and decide on an appropriate strategy to handle missing data

In [ ]:
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['z', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame (exam_data, labels)

#### Exercice 3.
Objective: Work with the Open Food Facts dataset to load and explore the data.
- Step 1: Navigate to Open Food Facts Dataset on Kaggle : https://www.kaggle.com/datasets/openfoodfacts/world-food-facts
   
- Step 2: Download the dataset to your computer and unzip it.
   
- Step 3: Use the TSV (Tab-Separated Values) file and assign it to a DataFrame named food using the following code:

In [ ]:
food.shape
food.shape[0]
food.columns
food.columns[104]

Part 5: Your Turn Again

- Explore the VenteAgence dataset.

- Repeat all the data exploration steps.

#### Discovering Dates and Extracting More Information from Dates.

Once a column is converted to a date using to_datetime, you can extract various pieces of information from its values.

The column "DATE FACTURE" contains dates. Therefore, it needs to be converted using to_datetime.

In [ ]:
#dfFactures['DATE FACTURE'] = pnd.to_datetime(dfFactures['DATE FACTURE'])

From this point, we will be able to extract many useful pieces of information:
- Day
- Month
- Year
- Day of the week
- Day of the week in text
- Month in text

In [ ]:
'''dfFactures['JOUR FACTURE'] = dfFactures['DATE FACTURE'].dt.day
dfFactures['MOIS FACTURE'] = dfFactures['DATE FACTURE'].dt.month
dfFactures['ANNEE FACTURE'] = dfFactures['DATE FACTURE'].dt.year
dfFactures['JOUR SEMAINE'] = dfFactures['DATE FACTURE'].dt.weekday
dfFactures['NOM JOUR'] = dfFactures['DATE FACTURE'].dt.day_name()
dfFactures['NOM MOIS'] = dfFactures['DATE FACTURE'].dt.month_name()

dfFactures['SEMAINE ANNEE'] = dfFactures['DATE FACTURE'].dt.isocalendar().week

dfFactures.sample(5)'''

If we try to retrieve the time from the data in the "DATE_FACTURE" column, we won't be able to, because this information is missing from the original data.

In [ ]:
#dfFactures['DATE FACTURE'].dt.time